extends layout

block content
  nav.navbar.navbar-expand-lg.bg-dark
    .container-fluid
      a.navbar-brand(href='#') Navbar
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current='page' href='#') Home
          li.nav-item
            a.nav-link(href='#') Link
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Dropdown
              | 
            ul.dropdown-menu(aria-labelledby='navbarDropdown')
              li
                a.dropdown-item(href='#') Action
              li
                a.dropdown-item(href='#') Another action
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href='#') Something else here
          li.nav-item
            a.nav-link.disabled(href='#' tabindex='-1' aria-disabled='true') Disabled
        ul.navbar-nav.me-auto.mb-2.mb-lg-0.d-flex
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Account
              | 
            ul.dropdown-menu(aria-labelledby='navbarDropdown')
              li
                a.dropdown-item(href='#') Logout
  .container
    .alert.alert-info.my-3(role='alert')
      | This website is still under development stage so you may experience some or many errors. Thank you!
    header.jumbotron.my-4
      h2 Welcome to SimpingTech, #{uname}!
      p.lead
        | You&apos;re in the right place to find stuffs about tech! Tech tips, tech reviews, programming languages, tutorials about anything tech, even your homework (only about tech!). You can find it here &apos;cause we&apos;re simping to tech!
    hr
    .row.text-center
      .col-lg-3.col-md-6.mb-4
        a.card-home(href='/programs')
          .card.h-100
            .card-body
              h4.card-title Programs
      .col-lg-3.col-md-6.mb-4
        a.card-home(href='/tools')
          .card.h-100
            .card-body
              h4.card-title Tools
      .col-lg-3.col-md-6.mb-4
        .card.h-100
          .card-body
            h4.card-title Coming Soon!
      .col-lg-3.col-md-6.mb-4
        .card.h-100
          .card-body
            h4.card-title Coming Soon!
  
block footer
  footer.py-4.bg-dark
    .container
      p.m-0.text-center.text-white
        | Copyright 2021 &copy; 
        a.text-white(href='/') SimpingTech
