extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
	.container
		a.navbar-brand(href='/') SimpingTech
		button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarResponsive.collapse.navbar-collapse
			ul.navbar-nav.ml-auto
				li.nav-item.active
					a.nav-link(href='#') Programs
				li.nav-item
					a.nav-link(href='#') Tools
				li.nav-item
					a.nav-link(href='#') Contact
				li.nav-item
					a.nav-link(href='#') About

  .container#mainContainer
    .alert.alert-info.my-3(role='alert')
      | This website is still under development stage so you may experience some or many errors. Thank you!
    header.jumbotron.my-4
      h2 Welcome to SimpingTech, #{uname}!
      p.lead
        | You&apos;re in the right place to find stuffs about tech! Tech tips, tech reviews, programming languages, tutorials about anything tech, even your homework (only about tech!). You can find it here &apos;cause we&apos;re simping to tech!
    hr
    .row.text-center
      .col-lg-3.col-md-6.mb-4
        a.card-home(href='/programs')
          .card.h-100
            .card-body
              h4.card-title Programs
      .col-lg-3.col-md-6.mb-4
        a.card-home(href='/tools')
          .card.h-100
            .card-body
              h4.card-title Tools
      .col-lg-3.col-md-6.mb-4
        .card.h-100
          .card-body
            h4.card-title Coming Soon!
      .col-lg-3.col-md-6.mb-4
        .card.h-100
          .card-body
            h4.card-title Coming Soon!
  
block footer
  footer.py-4.bg-dark
    .container
      p.m-0.text-center.text-white
        | Copyright 2021 &copy; 
        a.text-white(href='/') SimpingTech
